doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/style.css")
    title= title
  body(class="flex justify-center") 
    section(class="md:w-10/12 lg:w-8/12")
      header(class="flex flex-col bg-chess-green rounded shadow-md mb-6")
        div(class="flex flex-col items-center justify-center p-4")
          h1(class="w-fit text-4xl font-bold text-white") Chess Openings
          h3(class="w-fit font-semibold text-white pt-1") Inventory for chess openings and variations
        nav(class="flex justify-around mb-2") 
          a(href="/" class="link") Home
          a(href="/openings" class="link") Openings
          a(href="/variations" class="link") Variations
      block content
