extends layout 

block content   
  section(class="flex flex-col gap-2 mx-2 mb-4")
    h3(class="text-3xl text-chess-green font-semibold") Openings
    hr(class="my-3")
    a(href="/openings/add" class="button-primary w-fit") Add an Opening
    section(class="w-full")
      ul(class="list-none")
       each opening in openings 
        li(class="my-3 p-5 rounded border-l-chess-green border-l-4 shadow-md flex flex-col")
          a(href=opening.url class="link")= opening.name
          p Variations: #{opening.variations.length}
