extends layout 

block content   
  h2= title
  h3 
    a(href="/openings/add") Add an Opening
  section 
    ul
    each opening in openings 
      li 
        a(href=opening.url)= opening.name
        p Variations: #{opening.variations.length}
