extends layout 

block content 
  h3 Gain admin privileges
  form(action="", method="post") 
    label(for="password") Enter password:
    input(type="text" required id="password" name="password" placeholder="Enter password here")
    if message 
      p= message
    button(type="submit") Submit

