extends layout 

block content 
  section(class="mx-2 my-2")
    h3(class="text-2xl my-2 text-chess-green font-semibold") Gain Admin Privileges
    hr(class="my-3")
    form(action="", method="post" class="flex flex-col items-start gap-2 label-input") 
      label(for="password") Enter password:
      input(class="input" type="text" required id="password" name="password" placeholder="Enter password here")
      if message 
        p(class="border border-red-500 p-2 rounded my-2")= message
      button(type="submit" class="button-green") Submit
